<form class="form-group">
  <div class="clr-row">
    <div class="content clr-col card card-block card-title card-text ">
      <div class="clr-row">
        <div class="clr-col">
          <span class="text-label">{{report?.name}}</span>
        </div>
        <div class="clr-col-4">
          <div class="right-align btn-group btn-primary">
            <button class="btn" disabled="true">Просмотр</button>
            <button class="btn btn-success" (click)="download('xls')">Выгрузить Excel</button>
            <button class="btn btn-danger" (click)="download('pdf')">Выгрузить Pdf</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="content clr-col card card-block card-title card-text ">
      <div class="card-header">
        Фильтры отчета
      </div>
      <div class="clr-row">
        <div class="clr-col">
          <div *ngFor="let reportCondition of report?.reportConditions; let e = even;">
            <app-report-condition *ngIf="e" [reportCondition]="reportCondition"></app-report-condition>
          </div>
        </div>
        <div class="clr-col">
          <div *ngFor="let reportCondition of report?.reportConditions; let e = even;">
            <app-report-condition *ngIf="!e" [reportCondition]="reportCondition"></app-report-condition>
          </div>
        </div>
      </div>
    </div>
    <div class="content clr-col card card-block card-title card-text">
      <div class="card-header">
        Настройка столбцов для отображения
      </div>
      <div *ngFor="let reportField of report?.reportFields">
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="options" (change)="updateReportField(reportField, $event)"
                 [(ngModel)]="reportField.isEnable" data-md-icheck/>
          <label>{{reportField.name}}</label>
        </clr-checkbox-wrapper>
      </div>
    </div>
  </div>
</form>
