.content {
  margin-left: 12px;
  margin-right: 12px;
}
.text-label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 35px;
}
.right-align {
  position: absolute;
  right: 10px;
  top: 10px;
}
