<div class="clr-form-control">
  <label for="basic" class="clr-control-label">{{reportCondition.name}}</label>
  <div class="clr-control-container">
    <div class="clr-input-wrapper" id="basic">
      <input *ngIf="reportCondition.type == 'STRING'" type="text"  placeholder="" class="clr-input" (change)="updateConditionFieldValue(reportCondition, $event)">
      <input *ngIf="reportCondition.type == 'DATE'" type="date" placeholder="" class="clr-input" (change)="updateConditionFieldValue(reportCondition, $event)">
    </div>
  </div>
</div>
