<div class="clr-row clr-align">
  <div class="clr-col ">
    <table class="table">
      <tr>
        <th class="left">Отчеты</th>
      </tr>
      <tr *ngFor="let reportInfo of reportInfoList" routerLink="/report/{{reportInfo.id}}">
        <td class="left">{{reportInfo.name}}</td>
      </tr>
    </table>
  </div>
</div>
