<header class="header-7">
  <div class="branding">
    <a href="/" class="nav-link">
      <clr-icon shape="file" class="is-inverse"></clr-icon>
      <span class="title">Report Service</span>
    </a>
  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>

